pip-tools
pandas
numpy
matplotlib
seaborn
scikit-learn
scikit-image
scipy
polars
igraph
networkx
h5py
tqdm
progressbar2
transformers
geopandas
pymoo
pydot
librosa
statsmodels
mlflow
einops
plotly
opencv-python-headless
optuna 
jupyterlab
ipywidgets
ipykernel
jupyterlab-lsp
python-lsp-server  
