tensorflow[and-cuda]
tensorflow-probability
tensorflow-datasets
tensorflow-hub
keras-cv
spektral
tensorflow-addons
keras-tuner
tensorflow-model-optimization
tensorflow-io
keras-nlp

tokenizers<=0.23.0   # satisfies transformers 5.5.4
protobuf>=4.25.8,<7.0   # satisfies databricks-sdk, but avoid 7.x